name: CI

on: [push]

jobs:
  build:
    name: ubuntu-latest-${{ matrix.compiler }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
    steps:
    - name: Install dependencies
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libxrandr-dev
        sudo apt-get install -y ${{ matrix.compiler }}
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          echo "CC=gcc" >> $GITHUB_ENV
          echo "CXX=g++" >> $GITHUB_ENV
        else
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
        fi
    - uses: actions/checkout@v2
    
    # We have to clone submodules without --depth 1 because "Server does not allow request for unadvertised object actions" (FreeType repo)
    - name: Checkout submodules
      shell: bash
      run: |
          git submodule sync --recursive
          git submodule update --init --force --recursive
    - name: Run CMake
      run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
    - name: Build
      run: make glfw_gl3
      working-directory: build
